[Desktop Entry]
Type=Application
Name=pi-top Configuration
GenericName=pi-top Configuration
Icon=preferences-desktop
Exec=pt-setup
Categories=Settings
